* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgba(91, 214, 97, 0.979);
}

header {
    color: white;
    text-align: center;
    font: bold 25px Arial;
}

h1 {
    margin: 12px;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    margin: auto;
    padding: 15px;
    font: normal 20px Arial;
}

footer {
    font: italic 20px Arial;
    color: white;
    text-align: center;
}

div {
    padding: 10px;
}

img {
    padding-top: 20px;
}